@import "mCustomScrollbar";
@import "prism";

.sidebar-nav {
    .sidebar-inner {
        position: fixed;
        left: -300px;
        height: 100%;
        width: rem(250);
        border-right: 1px solid #eee;
        background: #fff;
        z-index: 98;

        &--open {
            left: 0;
        }

        @include breakpoint-min(lg) {
            left: 0;
        }
    }

    .sidebar-logo-holder {
        border-bottom: 1px solid #eee;
        padding: rem(20) rem(30);
        position: fixed;
        height: rem(80);
        top: 0;
        left: 0;
        width: rem(250);
        z-index: 99;
        background: #fff;

        @include breakpoint-min(lg) {
            border-right: 1px solid #eee;
            text-align: center;
            padding: rem(30);
            border-bottom: 1px solid #eee;

        }

        @include breakpoint-max(lg) {
            right: 0;
            width: 100%;
        }


        .sidebar-brand {
            @include breakpoint-max(lg) {
                margin-top: rem(-45);
                margin-left: 70px;
            }
        }
    }


    ul {
        padding: 0;
        list-style: none;
    }

    .navbar-wrapper {
        padding-left: rem(20);
        padding-top: rem(30);

    }

    .sidebar-nav {
        position: fixed;
        height: calc(100% - 130px);
        padding-right: rem(25);
        top: 100px;

        .navigation {
            margin-bottom: rem(30);

            .nav-title {
                font-size: rem(14);
                text-transform: uppercase;
                font-weight: 700;
                color: #222;
                margin-bottom: rem(15);
            }

            .nav-item {
                .nav-link {
                    color: #524c4c;
                    font-size: rem(16);
                    transition: .3s;
                }

                &.active,
                &:hover {
                    >.nav-link {
                        @extend %color-primary;
                    }
                }

                .submenu {
                    .nav-link {
                        font-size: rem(14);
                        padding-left: rem(30);
                        opacity: .8;
                    }
                }
            }

        }
    }

    // Toggler
    .navbar-toggler {
        height: 40px;
        left: 15px;
        right: auto;
        top: 15px;

    }
}

.sidebar {
    .inner {
        padding: 10px 5px;
        position: fixed;
        right: 30px;
        top: 100px;
        min-width: 200px;
        background: white;
        z-index: 9999;
        border: 1px solid rgba(0, 0, 0, 0.125);
    }

    .nav-link {
        color: #524c4c;
        font-size: 15px;

        &:not(.active):hover {
            color: $color-primary;
        }
    }

    .nav-pills--sub {
        .nav-link {
            font-size: 13px;
        }
    }
}


.nav-pills--sub .nav-link.active {
    background: transparent;
    color: $color-primary;
}
.navbar.navbar-light.sidebar{
    @include breakpoint-max(md){
        display: none;
    }
}
.documentation {
    a:not(.btn):not(.text-color--300):not(.text-color--400):not(.text-color--500):not(.text-color--600):not(.text-color--700) {
        color: $color-primary;
    }

    h1 {
        font-weight: 700;
    }

    .lead {
        font-size: 18px;
        font-weight: 400;
        color: #423e3e;
    }

    hr {
        border-color: #eee;
        margin-top: rem(10);
        margin-bottom: rem(20);
    }

    strong {
        color: #222;
    }

    .color-primary {
        @extend %color-primary;
    }

    // Editor
    div.code-toolbar>.toolbar a {
        background: transparent !important;
        padding: rem(7) rem(12);
        border-radius: 3px;
        color: #222;
        border: 0;
        box-shadow: none;
        transition: .3s;
        font-size: rem(14);

        &:hover {
            @extend %color-primary;
        }
    }

    :not(pre)>code[class*="language-"],
    pre[class*="language-"] {
        background: #f6f9fb;
        border-radius: 3px;
        border: 1px solid #f8fafd;
        border: 1px solid #dee2e6;
    }

    pre[class*="language-"] {
        padding: 20px;
    }

    &.main {
        @include breakpoint-min(lg) {
            padding-left: rem(280);

        }
    }
    > .card{
        align-items: flex-start;
        padding: rem(25);
    }
     .card-body{
        padding: rem(25);
    }

    // .card-body{
    //     padding: 0 rem(20);
    // }
    .content {

        padding-top: rem(50);

        @include breakpoint-max(lg) {
            padding-top: rem(110);

        }

    }

    .content-title {
        max-width: rem(800);
    }

    .team--v2 .card {
        @include breakpoint-min(lg){
            min-width: 545px;
        }
        @include breakpoint-min(xl){
            min-width: 585px;
        }
    }
    .team--v1{
        .card{
            min-width: 265px;
        }
    }
}
