/*
*  theme overwrite 
=================================
=================================
=================================*/
/**! user style **/
/**! ----- font family init ---- **/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

h4 {
  color: #2D3136;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.0625rem;
  font-weight: 400;
  line-height: 1.75;
  color: #818992;
}

blockquote {
  font-style: italic;
}

blockquote h4 {
  line-height: 3rem;
}

blockquote h5 {
  line-height: 2.8rem;
}

/**! ----- font Setting (size & line height, spacing etc) ---- **/
.h1-font, h1 {
  font-size: 2.875rem;
  line-height: 1.25;
  font-weight: 300;
}

@media only screen and (min-width: 768px) {
  .h1-font, h1 {
    font-size: 4.125rem;
    line-height: 1.18;
  }
}

.h2-font,
h2 {
  font-size: 2.875rem;
  line-height: 1.25;
  font-weight: 300;
}

@media only screen and (min-width: 768px) {
  .h2-font,
  h2 {
    font-size: 3.5rem;
    line-height: 1.22;
  }
}

.h3-font,
h3 {
  font-size: 2.375rem;
  line-height: 1.25;
  font-weight: 300;
}

@media only screen and (min-width: 768px) {
  .h3-font,
  h3 {
    font-size: 2.875rem;
    line-height: 1.25;
  }
}

.h4-font,
h4 {
  font-size: 2.375rem;
  line-height: 1.25;
  font-weight: 600;
}

.h5-font,
h5 {
  font-size: 1.5rem;
  line-height: 1.55;
  font-weight: 400;
}

.h6-font,
h6, blockquote {
  font-size: 1.25rem;
  line-height: 1.55;
  font-weight: 400;
}

.body-font {
  font-size: 1.0625rem;
  line-height: 1.75;
  font-weight: 400;
}

/**! ----- Theme Common colors (Also Used as extend in SCSS ) ---- **/
.btn-bg--primary, .card--v2 .card--focused::before, .carosuel-slider--v4 .arrowBtn:hover, .carosuel-slider--v4 .slick-dots .slick-active .slider-button, .carosuel-slider--v5 .slick-dots .slick-active .slider-button, .bg-color--primary, mark,
ins, .btn-bg-hover--primary:after, .btn-bg-hover--primary:before, .navigation__transparent.sticky-nav {
  background: #4777F4;
}

.text-color--primary, .btn-color--primary, .color-primary, .list-group .list-group-item-action:hover, .list-group .list-group-item-action:focus, .list-group .list-group-item-action.active, .text-hover--primary:hover, .features--v5 .feature:hover i, .footer.section-dark .widget a:hover, .footer.section-light .widget li a:hover, .navbar-expand-lg.navbar .page-active, .navbar-expand-lg .dropdown .submenu-active, .navbar-expand-lg .dropdown .dropdown-submenu:hover > .dropdown-item.dropdown-toggle, .navbar-expand-lg .dropdown .dropdown-item:active, .navbar-expand-lg .dropdown .dropdown-item:hover, .navbar-expand-lg .dropdown.show.active .nav-link.dropdown-toggle.submenu-active {
  color: #4777F4;
}

.fill--primary rect,
.fill--primary path,
.fill--primary polygon,
.fill--primary circle {
  fill: #4777F4;
}

.border-color-primary, .btn-outline .border-color-light--4:hover, .blog-sidebar .widget-title, .comments-area .comment-title,
.comments-area .comment-reply-title, .testimonial--v4 .carosuel-slider--v4 img {
  border-color: #4777F4;
}

/*---- Boxed Layout Init----*/
body.boxed-layout .main, body.boxed-layout .navbar {
  max-width: 1366px;
}

/*! Place your custom styles here (below). 
      This will make it much easier to update the template later - you'll only need to preserve "this file
  ===================================================================================================*/


  
/* fuente NeutraText */

@font-face {
  font-family: "Neutra";
  src: url("../fonts/NeutraTextTFDemi.otf");
}
* {
font-family: "Neutra";
}

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
    font-family: "Neutra", sans-serif;
    color: rgb(152, 155, 158) !important;
  }
  

  
  p {
    font-family: "Neutra", sans-serif;
    font-size: 1.0625rem;
    font-weight: 400;
    line-height: 1.75;    
    color: rgb(152, 155, 158) !important;
  }

  .logo{
    max-width:60%;
    height:auto;
    margin-left: 4.0em;  
 
  }
  /* barra mas ancha */
  .navbar-expand-lg.navbar {
    height: 10rem;
  }
  /* barra blanca */
  .navigation__transparent.sticky-nav{
    background: rgb(255, 255, 255) !important;
  }
  .texto-logo{
    letter-spacing: 4px;
  }
  .texto-naranjo{
    color: rgba(255, 114, 49, 0.842) !important;
  }
  #carouselControls img{
    width: auto;
    height: 500px;
    max-height: 500px;
    overflow: hidden;
  }

  #jumboSonrisa {
    background-image: url(../img/sonrisa.jpg);
    background-size: cover;
    min-height: 750px;
    height: 100%;
  }
  #jumboLista {   
    min-height: 750px;
    height: 100%;
  }
  ul {
    list-style-type: disc !important;
    padding-left:1em !important;
    margin-left:1em;
  }



