/**! -----  Carosuel Slider ---- **/
.slick-slider{
    blockquote{
        font-style: italic;
    }
    /* slick arrow */
    .slick-arrow {
        position: absolute;
        z-index: 999;
        width: 100%;
    }
    .arrowBtn {
        position: absolute;
        z-index: 999;
        @extend .transition-default;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nextArrow {
        right: 0;
    }
    .prevArrow {
        left: 0;
    }

    /* slick dots */
    .slick-dots{
        display: flex;
        align-items: center;
        justify-content: center;
        button{
            font-size: 0;
            @extend .transition-default;
        }
    }
}

/**! ----- Carosuel arrow Carosuel Slider V1 ---- **/
.carosuel-slider--v1{
    .slick-arrow {
        left: 50%;
        margin-left: -40px;
        bottom: 0;
        @include breakpoint-min(md){
            left: rem(0);
            margin-left: rem(0);
        }
    }
    .arrowBtn {
        color: $color-white;
        background: transparent;
        opacity: 0.5;
        font-size: rem(36);
        margin-bottom: -60px;
        bottom: 0;
        &:hover {
            opacity: 1;
        }
    }
    .nextArrow {
        right: 0;
        left: rem(55);
        &:hover {
            transform: translateX(10px);
        }
    }
    .prevArrow {
        left: 0;
        &:hover {
            transform: translateX(-10px);
        }
    }
    
}

/**! ----- Carosuel arrow Carosuel Slider V2 ---- **/
.carosuel-slider--v2{
    @include breakpoint-max(md){
        .slick-arrow, .arrowBtn {
            display: none;
        }
    }
    .slick-arrow {
        @include breakpoint-min(md){
            top: 0;
            transform: translateY(45px);
        }
    }
    .arrowBtn {
        color: $color-white;
        background: transparent;
        opacity: 0.5;
        font-size: rem(60);
        &:hover {
            opacity: 1;
        }
        
    }
    .nextArrow {
        right: rem(-65);
        @include breakpoint-min(lg){
            right: rem(-145);
        }
        @include breakpoint-min(xl){
            right: rem(-238);
        }
        &:hover {
            transform: translateX(10px);
        }
    }
    .prevArrow {
        left: rem(-65);
        @include breakpoint-min(lg){
            left: rem(-145);
        }
        @include breakpoint-min(xl){
            left: rem(-225);
        }
        &:hover {
            transform: translateX(-10px);
        }
    }
}

/**! ----- Carosuel arrow Carosuel Slider V3 ---- **/
.carosuel-slider--v3 {
    &::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        left: calc(-100%);
        background: $color-white;
        top: 0;
        z-index: 1;
    }
    .slick-list {
        overflow: initial;
    }
    .slide.slick-slide{
        blockquote,
        .svg,
        .testimonial-customer__name,
        .testimonial-customer__designation,
        .testimonial-img {
            opacity: 0.5;
        }
        &.slick-active {
            blockquote,
            .svg,
            .testimonial-customer__name,
            .testimonial-customer__designation,
            .testimonial-img {
                opacity: 1;
            }
        }
    }
    
}

/**! ----- Carosuel arrow Carosuel Slider V4 ---- **/
.carosuel-slider--v4 {
    .slide.slick-slide {
        margin-left: rem(25);
        margin-right: rem(25);
        margin-bottom: rem(100);
    }
     /* slick arrow */
     .slick-arrow {
        bottom: 0;
    }
    .arrowBtn {
        background: #D9E6DF;
        width: rem(32);
        height:rem(32);
        @extend .rounded--full;
        font-size:rem(14);
        color: $color-white;
        bottom: 0;
        &:hover{
            @extend %bg-primary;
        }
        i{
            font-weight: 600;
        }
    }
    .nextArrow {
        right: 0;
    }
    .prevArrow {
        left: 0;
    }
    /* dots */
    .slick-dots{
        .slider-button{
            background: rgba(#000000, 0.1);
            height: 14px;
            width: 14px;
            border-radius: 100px;
            margin-right: rem(8);
        }
        .slick-active{
            .slider-button{
                @extend %bg-primary;
            }
        }
    }
}


/**! ----- Carosuel arrow Carosuel Slider V5 ---- **/
.user-experience-slider{
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}
.carosuel-slider--v5{
    .slick-active.slick-center{
        img{
            @extend .box-shadow--10;
        }
    }
    .slide{
        padding: 0 10px 75px;
        box-sizing: border-box;
        
        @include breakpoint-min(lg){
            padding: 0 25px 68px;
        }
        img{
           @extend .transition-default;
            max-width: 100%;
        }
    }

    /* dots */
    .slick-dots{
        bottom: 5px;
        position: absolute;
        left: 0;
        right: 0;
        .slider-button{
            background: rgba(#000000, 0.1);
            height: 14px;
            width: 14px;
            border-radius: 100px;
            margin-right: rem(8);
        }
        .slick-active{
            .slider-button{
                @extend %bg-primary;
            }
        }
    }

}
.bg-color--primary{
    .carosuel-slider--v5{
        .slick-dots{
            .slick-active{
                .slider-button{
                    background: $color-white;
                    opacity: 0.5;
                }
            }
        }
    }
}