/**! ----- Button Hover ---- **/
.btn-hover{
    &:after, 
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100%;
        width: 0px;
        z-index: -1;
        border-radius: 5px;
        content: '';
        background: rgba($color-black, .05);
        transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    }
    &:hover{
        &:before, 
        &:after {
            left: 0%;
            right: auto;
            width: 100%;
        }
    
    }
    &-hover{
        &--1{
            &:hover{
                box-shadow: 0 rem(22) rem(34) 0 rgba(46,61,102,0.14);
            }
        }
    }
}
.btn-bg-hover--primary{
    &:after,
    &:before {
        @extend %bg-primary;
    }
    &:before {
        opacity: .8;
    }
}

/**! ----- Button bg Hover ---- **/
.btn{
    &:after {
        background: rgba(0,0,0,0.05);
    }
    &:before {
       background: rgba(0,0,0,0.05); 
    }
    &-bg-hover--primary{
        &:after {
            background: $color-primary;
        }
        &:before {
            background: rgba($color-primary, 0.8);
        }
    }
}

/**! ----- btn-link  Hover ---- **/
.btn-link{
    &:hover{
        opacity: .90;
        i{
            transform: translateX(5px)
        }
    }
 
    &:focus, &:hover {
        text-decoration: none;
    }
}

/**! ----- Outline Button  Hover ---- **/
.btn-outline{
    &:hover{
        color: $color-white !important;
    }
    &-hover--primary{
        &:hover{
            color: $color-primary !important;
        }
    }
    &-hover--dark--700{
        &:hover{
            color: $color-dark-700 !important;
        }
    }
    .border-color-light--4{
        &:hover{
            @extend %btn-border-color-primary;
        }
    }
}

/**! ----- Button color Hover ---- **/
.btn-bg-hover--primary{
    &:hover{
        color: $color-white !important;
        border-color: transparent;
    }
}


/**! ----- button Cta ---- **/


/**! ----- button Media (Play Buttons) hover ---- **/
.btn-media{
    transition: .5s;
    &:hover {
        box-shadow: 0 0 0 8px rgba(255,255,255,0.2);
        opacity: 1;
        &:after {
            box-shadow: 0 0 0 15px #ffffff;
            transform: scale(1.5);
            visibility: visible;
            opacity: 0;
        }
    }
    &:after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 0 15px rgba(255,255,255,0);
        border-radius: 100px;
        transition: 0.5s;
        transform: scale(0);
        visibility: hidden;
        opacity: 1;
    }

    &--2{
        box-shadow: 0 0 0 26px rgba(70,137,241,0.3), 0 0 0 13px rgba(70,137,241,0.8);
        &:hover {
            box-shadow: 0 0 0 8px rgba($color-primary,0.2);
            &:after {
                box-shadow: 0 0 0 15px $color-primary;
            }
        }
        &:after {
            box-shadow: 0 0 0 15px rgba($color-primary,0);
            transform: scale(0);
            transition: .5s;
        }
    }
    &--3{
        &:hover {
            box-shadow: 0 0 0 8px rgba($color-primary,0.2);
            &:after {
                box-shadow: 0 0 0 15px $color-primary;
            }
        }
        &:after {
            box-shadow: 0 0 0 15px rgba($color-primary,0);
            transform: scale(0);
            transition: .5s;
        }
    }
}

/**! -----  Text Hover ---- **/

.text-hover--primary{
    &:hover{
        @extend %color-primary;
        opacity: 0.80;

    }
}


/**! ----- pagination bg Hover ---- **/
.btn{
    &.page-link{
        &:after {
            background: rgba(218, 192, 192, 0.05);
        }
        &:before {
           background: rgba(255, 255, 255, 0.40);
        }
    }
}


/**! -----  link Hover ---- **/
a{
    .link{
        &.color-primary{
            &:hover{
                color: darken($color-primary, 10%);
            }
        }
        &.color-white{
            &:hover{
                color: darken($color-white, 10%);
            }
        }
    }
}