.switcher {
    height: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 9999;
    margin: 0 auto;
    text-align: center;
    max-width: 280px;
    right: -280px;
    transition: .3s;
  }
  
  .switcher ul {
    list-style: none;
    padding: 0;
  }
  
  .switcher img {
    max-width: 100%;
  }
  
  @media only screen and (min-width: 576px) {
    .switcher {
      max-width: 340px;
      right: -340px;
    }
  }
  
  .switcher__is-open {
    right: 0;
    -webkit-box-shadow: 0 0.125rem 2.75rem rgba(0, 0, 0, 0.17);
    box-shadow: 0 0.125rem 2.75rem rgba(0, 0, 0, 0.17);
    z-index: 99999;
  }
  
  .switcher__toggler {
    position: absolute;
    left: -45px;
    top: 95px;
  }
  
  .switcher__toggler .toggler__btn {
    background-color: #ffffff;
    width: 45px;
    height: 45px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-box-shadow: -8px 5px 30px rgba(0, 0, 0, 0.1);
    box-shadow: -8px 5px 30px rgba(0, 0, 0, 0.1);
  }
  
  .switcher__toggler .toggler__text {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    -webkit-transform: scale(-1);
    -ms-transform: scale(-1);
    transform: scale(-1);
    font-size: 13px;
    color: rgba(255, 255, 255, 0.35);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .switcher__toggler .toggler__text span {
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  }
  
  .switcher__toggler .toggler__text i {
    font-size: 12px;
    margin-top: 3px;
    position: relative;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    right: 1px;
  }
  
  @media only screen and (min-width: 768px) {
    .switcher__toggler {
      left: -45px;
    }
  }
  
  @media only screen and (min-width: 992px) {
    .switcher__toggler {
      top: 150px;
    }
  }
  
  .switcher-wrapper {
    overflow: auto;
    height: 100%;
  }
  
  .switcher__item-title {
    color: #2d3136 !important;
    font-size: 1.313rem;
    font-weight: 500;
    margin-bottom: 1.875rem;
    text-align: center;
  }
  
  .switcher-clone {
    padding-bottom: 20px;
  }
  
  .switcher-clone:not(:last-child) {
    border-bottom: 0.125rem dashed #e2e6ea;
    margin-bottom: 30px;
  }
  
  .switcher-tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 2.1875rem;
  }
  
  .switcher-tab__item button {
    padding-right: 1.375rem;
    padding-left: 1.375rem;
    min-width: 6.25rem;
    height: 2.313rem;
    border: 1px solid #e2e6ea;
    background-color: #ffffff;
    color: #818992;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    transition: .3s;
  }
  
  .switcher-tab__item button.active {
    background-color: #4777f4;
    border-color: #4777f4;
    color: #ffffff;
  }
  
  .switcher-tab__item:first-child button {
    border-right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .switcher-tab__item:last-child button {
    border-left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .switcher-colors {
    margin-top: 40px;
  }
  
  .switcher-tab-content ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-right: 3.5rem;
    padding-left: 3.5rem;
  }
  
  .switcher-tab-content ul li {
    flex: 0 0 33%;
    margin-bottom: 0.3125rem;
  }
  
  .switcher-tab-content ul button {
    width: 3.063rem;
    height: 3.063rem;
    border-radius: 100px;
  }
  
  .switcher .switcher-tab__color .switcher-color {
    display: none;
  }
  
  .switcher .switcher-tab__color .switcher-color.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .switcher .switcher-tab__color .switcher-gradient {
    display: none;
  }
  
  .switcher .switcher-tab__color .switcher-gradient.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .switcher .switcher-tab__color button {
    position: relative;
  }
  
  .switcher .switcher-tab__color button.active:before {
    content: "";
    display: block;
    width: 7px;
    height: 14px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    position: absolute !important;
    top: 14px;
    left: 19px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  @media only screen and (min-width: 992px) {
    .switcher .switcher-tab__color button.active:before {
      width: 8px;
      height: 16px;
      top: 16px;
      left: 22px;
    }
  }
  
  .switcher .switcher-tab__color .theme-green {
    background: $color-green;
  }
  
  .switcher .switcher-tab__color .theme-violet {
    background: $color-violet;
  }
  
  .switcher .switcher-tab__color .theme-orange-light {
    background: $color-orange-light;
  }
  
  .switcher .switcher-tab__color .theme-firoza {
    background: $color-firoza;
  }
  
  .switcher .switcher-tab__color .theme-blue {
    background: $color-blue;
  }
  
  .switcher .switcher-tab__color .theme-orange {
    background: $color-orange;
  }
  
  .switcher .switcher-tab__color .theme-gradient-1 {
    background-image: -webkit-linear-gradient(135deg, #2f1ce0 0%, #53a0fd 50%, #51eca5 100%);
    background-image: -o-linear-gradient(135deg, #2f1ce0 0%, #53a0fd 50%, #51eca5 100%);
    background-image: linear-gradient(-45deg, #2f1ce0 0%, #53a0fd 50%, #51eca5 100%)
  }
  
  .switcher .switcher-tab__color .theme-gradient-2 {
    background-image: -webkit-linear-gradient(127deg, #995cdd 0%, #644be7 100%);
    background-image: -o-linear-gradient(127deg, #995cdd 0%, #644be7 100%);
    background-image: linear-gradient(-37deg, #995cdd 0%, #644be7 100%)
  }
  
  .switcher .switcher-tab__color .theme-gradient-3 {
    background-image: -webkit-linear-gradient(307deg, #f5836f 0%, #e74c3c 100%);
    background-image: -o-linear-gradient(307deg, #f5836f 0%, #e74c3c 100%);
    background-image: linear-gradient(143deg, #f5836f 0%, #e74c3c 100%)
  }
  
  .switcher .switcher-tab__color .theme-gradient-4 {
    background-image: -webkit-linear-gradient(301deg, #fad961 0%, #f76b1c 100%);
    background-image: -o-linear-gradient(301deg, #fad961 0%, #f76b1c 100%);
    background-image: linear-gradient(149deg, #fad961 0%, #f76b1c 100%)
  }
  
  .switcher .switcher-tab__color .theme-gradient-5 {
    background-image: -webkit-linear-gradient(299deg, #64c9ef 0%, #3498db 100%);
    background-image: -o-linear-gradient(299deg, #64c9ef 0%, #3498db 100%);
    background-image: linear-gradient(151deg, #64c9ef 0%, #3498db 100%)
  }
  
  .switcher .switcher-tab__color .theme-gradient-6 {
    background-image: -webkit-linear-gradient(306deg, #b4ec51 0%, #429321 100%);
    background-image: -o-linear-gradient(306deg, #b4ec51 0%, #429321 100%);
    background-image: linear-gradient(144deg, #b4ec51 0%, #429321 100%)
  }
  
  .switcher .switcher-boxed {
    display: none;
    padding-right: 3.125rem;
    padding-left: 3.125rem;
  }
  
  .switcher .switcher-boxed .media__content {
    border-radius: 5px;
  }
  
  .switcher .switcher-boxed.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .switcher .switcher-boxed li {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
  }
  
  .switcher .switcher-boxed button {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 0 1px #ddd;
    box-shadow: 0 0 0 1px #ddd;
  }
  
  .switcher .switcher-boxed button.active {
    -webkit-box-shadow: 0 0 0 2px #4777f4;
    box-shadow: 0 0 0 2px #4777f4;
  }
  
  .switcher .theme-variation {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
  
  .switcher .theme-variation span {
    display: block;
    position: absolute;
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    border-radius: 100px;
    text-align: center;
    color: #ffffff;
    background-color: #3965f4;
    opacity: 0;
    visibility: hidden;
  }
  
  .switcher .theme-variation .demo-item {
    position: relative;
    margin-bottom: 1.875rem;
  }
  
  .switcher .theme-variation .demo-item img {
    border: 1px solid #ddd;
    border-radius: 6px;
    -webkit-box-shadow: 0 7px 25px rgba(0, 0, 0, 0.15);
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.15);
    transition: .3s box-shadow;
  }
  
  .switcher .theme-variation .demo-item:hover img {
    -webkit-box-shadow: 0 15px 45px rgba(0, 0, 0, 0.25);
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.25);
  }
  
  .switcher .theme-variation .demo-item.active a:after {
    content: "";
    position: absolute;
    background: #000;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 6px;
  }
  
  .switcher .theme-variation .demo-item.active img {
    opacity: .3;
    cursor: no-drop;
  }
  
  .switcher .theme-variation .demo-item.active span {
    cursor: no-drop;
  }
  
  .switcher .theme-variation .demo-item.active:hover img {
    -webkit-box-shadow: 0 7px 25px rgba(0, 0, 0, 0.15);
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.15);
  }
  
  .switcher .theme-variation .demo-item.active:before {
    opacity: 0.76;
    visibility: visible;
  }
  
  .switcher .theme-variation .demo-item.active span {
    opacity: 1;
    visibility: visible;
  }
  
  .demo-item {
    position: relative;
  }
  
  .demo-item__options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute !important;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .3s;
  }
  
  .demo-item__options a {
    background: #fff;
    border-radius: 3px;
    padding: 0.625rem 1.875rem;
    color: #fff;
    font-size: 0.875rem;
    font-weight: 500;
    position: relative;
    z-index: 1;
    background: #264eee;
  }
  
  .demo-item__options a:last-child {
    background: #3965f4;
  }
  
  .demo-item__options a:not(:last-child) {
    margin-bottom: 0.5rem;
  }
  
  .demo-item__options a i {
    font-size: 0.75rem;
    position: relative;
    top: 1px;
    left: 1px;
  }
  
  .demo-item__options a:hover i {
    left: 8px;
  }
  
  .demo-item:hover .demo-item__options {
    opacity: 1;
  }
